/* FONTE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #1c279c;
  --secondary-color: #061521;
  --third-color: #3a6d8c;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --border-radius: 4px;
  --font-family: "Roboto", sans-serif;
  --adesao-green: #22c55e;
  --adesao-yellow: #f59e0b;
  --adesao-red: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  height: 11vh;
}

.header-introduce {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 80px;
  height: auto;
}
.header-logo img {
  width: 100%;
  height: auto;
}
/* LINKS - HEADER */

.header-links {
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--text-color-white);
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header-link:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

/* MAIN */ 
.container {
  padding: 20px 10%;
  flex: 1; /* empurra o footer para baixo */
}

.container .dashboard {
  margin-bottom: 20px;
}

/* FORMULARIO CNPJ */ 

.container .container-form-cnpj {
  background-color: white;
  border: 1px solid var(--text-color-black);
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--text-color-white);
  width: 100%;
  margin-bottom: 20px;
}

.container .container-form-cnpj .form-cnpj {
  display: block;
  margin-bottom: 5px;  color: var(--text-color-black);
}

.container .container-form-cnpj h3 {
  margin-bottom: 15px;
  color: var(--text-color-black);
}

.container .container-form-cnpj input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--text-color-black);
  border-radius: var(--border-radius);
  outline: none;
}

.container .container-form-cnpj button {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* FORMULARIO PERFIL */

.container .container-form-perfil {
  background-color: white;
  border: 1px solid var(--text-color-black);
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--text-color-white);
  width: 100%;
  margin-bottom: 20px;
}

.container .container-form-perfil .form-perfil {
  display: block;
  margin-bottom: 5px; 
  color: var(--text-color-black);
}

.container .container-form-perfil h3 {
  margin-bottom: 15px;
  color: var(--text-color-black);
}

.container .container-form-perfil input[type="text"],
.container .container-form-perfil input[type="email"],
.container .container-form-perfil input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--text-color-black);
  border-radius: var(--border-radius);
  outline: none;
}

.container .container-form-perfil button {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* FORMULARIO SEGURANÇA */

.container .container-form-seguranca {
  background-color: white;
  border: 1px solid var(--text-color-black);
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--text-color-white);
  width: 100%;
}

.container .container-form-seguranca .form-seguranca {
  display: block;
  color: var(--text-color-black);
}

.container .container-form-seguranca h3 {
  margin-bottom: 15px;
  color: var(--text-color-black);
}

.container .container-form-seguranca input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--text-color-black);
  border-radius: var(--border-radius);
  outline: none;
}

.container .container-form-seguranca button {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* ===== FOOTER ===== */
footer {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  text-align: center;
  padding: 20px 10%;
  width: 100%;
  margin-top: auto;
}